.value{
    font-weight: 600;
    color: #002358;
    font-size: 15px;
    text-align: right;
}
.exchangerecord{
    
    width: 650px;
    margin-top: 30px;
    background-color:whitesmoke;
    // border: 1px solid gray;
    border-radius: 40px;
    padding: 20px;
}
table{
    border-bottom: 1px solid rgb(129, 129, 218);
}
.mr-5{
    margin-right: 5px;
    margin-left: 5px;
}