<div class="container">

  <div class="input-group mb-3">
    <input type="text" class="form-control" #box (keyup)="getData(box.value)" placeholder="Search a Coin" aria-label="Recipient's username" aria-describedby="basic-addon2" >
  </div>
  <i class="fa-solid fa-magnifying-glass search"></i>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr class="table-header">
        <th scope="col"></th>
        <th scope="col">All Coin</th>
        <th scope="col">Price</th>
        <th scope="col">24h</th>
        <th scope="col">Market cap</th>
        <!-- <th scope="col">24H</th> -->
      </tr>
    </thead>
    <tbody id="myTable">
      <tr *ngFor="let user of coinData.data.coins;index as i">
        <td>{{user.rank}}</td>
        <td [routerLink]="['/',user.uuid]">
          <img
            src={{user.iconUrl}}
            width="28"
            height="28"
            alt="Coinranking cryptocurrency prices"
            class="logo__img"
          />
            {{user.name}}
          <div style="font-size: small;margin-left: 33px;">{{user.symbol}}</div>
        </td>
        <td>${{user.price|number:'1.1-3'}}</td>
        <td>
          <button nbButton outline  status="{{user.change>0 ? 'primary': 'danger'}}" class="border">{{user.change}}%</button>
        </td>
        <!-- <td>${{user.marketCap}}</td> -->
        <td>${{(user.marketCap/1000000000).toFixed(3)}} billion</td>

      </tr>
    </tbody>
  </table>
</div>

